<%- include('partials/headerAdmin.ejs') %>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="h1">Daftar Challange</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% for (data of result) { %>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= data.title %>
                            </h5>
                            <p class="card-text">
                                ⭐️ <%= data.skor %>
                            </p>
                            <p class="card-text">
                                <%= data.description %>
                            </p>
                            <a href="/admin/hapus/<%= data.id %>" class="card-link btn btn-danger">Hapus</a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <%- include('partials/footerAdmin.ejs') %>