<%- include('partials/headerLivescore') %> 

    <%- include('partials/navbarLivescore') %>
    <div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1 class="text-center">🏆 Live Score Rank </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-stripped table-bordered border-dark">
                <thead>
                    <tr class="table-primary">
                        <th class="text-table-header" scope="col">No.</th>
                        <th class="text-center text-table-header" scope="col">Nama</th>
                        <th class="text-center text-table-header" scope="col">Skor</th>
                    </tr>
                </thead>
                <tbody>
                    <% let i=1 %>
                        <% for(data of result) { %>
                            <tr>
                                <th class="text-table" scope="row">
                                    <%= i %>
                                </th>
                                <td class="text-center text-table">
                                    <%= data.username %>
                                </td>
                                <td class="text-center text-table">
                                    <%=
                                    data.skor
                                    %>
                                </td>
                                <% i+=1 %>
                            </tr>
                            <% } %>
                </tbody>
            </table>
        </div>
    </div>
    </div>
<%- include('partials/footer') %>  