<%- include('partials/headerAdmin') %>

    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <% for(data of result) {%>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Postingan
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= data.judul %>
                            </h5>
                            <p class="card-text">
                                <%= data.body %>
                            </p>
                            <a href="/admin/post/hapus/<%= data.id %>" class="btn btn-danger">Hapus</a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <%- include('partials/footerAdmin') %>